:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero h1,
.history-section h2 {
    font-size: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 0;
    background: var(--accent2-color);
    filter: drop-shadow(.1rem .3rem .1rem var(--secondary-color));
    display: flex;
    align-items: center;
}

.hero article img {
    width: 125px;
    float: right;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header img {
    border: solid 1px var(--accent1-color);
    border-radius: 50%;
    width: 150px;
}

header nav a {
    text-decoration: none;
    color: var(--accent1-color);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    border: solid 1px var(--accent1-color);
    border-radius: 6px;
    width: 500px;
}

header nav li:not(:first-child) {
    border-left: 1px solid var(--accent1-color);
}

header nav ul li {
    padding: .5rem 1rem;
    text-align: center;
    border: solid 1px var(--accent1-color);
    flex: 1 1 0;
}

.history-section h2,
.adventure-section h2 {
    font-size: 21px;
    text-align: center;
    margin-bottom: 1rem;
}

.history-section div {
    display: flex;
    align-items: center;
}

.history-section div img {
    width: 180px;
}

.adventure-section div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.adventure-section div figure {
    text-align: center;
}

.adventure-section div figure img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
}

footer p {
    width: 80%;
    text-align: center;
}

.socialmedia {
    width: 20%;
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 25px;
}

/* contact.html */
.box-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.box-information p {
    margin: 0;
    padding: 3px;
}

.maps-form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
}

.maps-container {
    display: flex;
}

.maps-container iframe {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
}

.form-item label {
    display: inline-block;
    width: 30%;
}

.form-item input {
    width: 70%;
}

.form-textarea textarea {
    width: 100%;
}

.form-item input,
.form-textarea textarea {
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
}

.container-checkbox {
    display: flex;
}

.container-checkbox p {
    width: 110px;
    margin: 0;
    padding: 0;
}

.container-checkbox div {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.container-checkbox div label {
    padding: .5rem 0;

}

.form-container input[type="radio"], .form-container input[type="checkbox"]  {
    margin: 5px;
}

.form-container button {
    margin-top: .2rem;
    padding: .5rem 0;
}

.employee-profile div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.employee-profile div figure img {
    width: 175px;
    height: 175px;
}